
@media screen and (min-width: 30em) {
	.dash_container{
		display:grid;
		grid-template-columns: repeat(4,1fr);
		grid-template-rows: repeat(5,1fr);
		grid-gap:3px;
		font-family: var(--main-font);
		color: var(--orange);
		min-width:100%;
		min-height:100vh;
		align-items: center;
	}
	.dash_sm_cell{
		background:var(--dark_brown);
		width:100%;
		height:100%;
	}
	.dash_xl_cell{
		width:100%;
		height:100%;
	}
	.cell_stats{
		background:var(--black);
		border:1px solid var(--dark_brown);
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		position:relative;
	}
	.ver_mas{
		position:absolute;
		bottom:.3rem;
		right:.3rem;
		text-decoration:none;
		color: var(--orange);
		padding:.3rem;
	}

	.ver_mas>svg:hover{
		cursor:pointer;
	}
	.cell_title{
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}
	.title{
		font-size:2rem;
		text-decoration:none;
		color: var(--orange);
		cursor:pointer;
	}
	.stats_title{
		font-size:1rem;
		text-align: center;
		font-weight:bold;
		width:100%;
	}
	.stat_value{
		font-size:2rem;
		font-weight:bold;
	}
	.subtitle{
		font-size:1rem;
	}
	.cell_menu{
		background:red;
		grid-row: span 4;
	}
	.cell_table{
		grid-column: span 3;
		grid-row: span 4;
	}

	
}
