
@media screen and (min-width: 30em) {
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;

  }
  body{
    min-width:100%;
    min-height:100vh;
    background-image:url('https://cdn.pixabay.com/photo/2020/03/08/23/23/coronavirus-4914026_960_720.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
  h1{
    background:transparent;
  }
  .menu{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }
}
